<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Yu's Portfolio</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
</head>
<body>
    <header id="header" role="banner">
        <nav aria-label="Main Navigation">
            <div class="left">
                <a href="/" aria-label="Homepage">YWL</a>
            </div>
            <div class="menu-toggle" id="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="right" id="nav-links">
                <a href="/#about_me">About Me</a>
                <a href="/projects">Projects Showcase</a>
                <a href="/contact">Contact</a>
                <a href="/blog">Experiences</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="projects_showcase" role="region" aria-labelledby="projects_heading">
            <h1 id="projects_heading">Projects Showcase</h1>

            <% projects.forEach(project => { %>
                <article aria-labelledby="project<%= project.id %>_title">
                    <img src="<%= project.image %>" alt="<%= project.title %> Screenshot">
                    <div class="project-section">
                        <h2 id="project<%= project.id %>_title"><%= project.title %></h2>
                        <p><%= project.description %></p>
                        <a class="project_icons" href="<%= project.link %>" target="_blank" aria-label="View <%= project.title %> Project">
                            <i class="fa-brands fa-github" aria-hidden="true"></i>
                            <span>Project link</span>
                        </a>
                    </div>
                </article>
            <% }); %>
        </section>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>